@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark;
}

/* min body height */

body {
  min-height: 100vh;
  font-family: Raleway, sans-serif;
  font-display: swap;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* font sizes */

b {
    font-weight: 700;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 1.75;
}

h1, h2, p {
    margin: 0.2em;
}

/* navigation bar */

.sidebar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    transition: top 0.3s ease; 
    top: 0;
}

.sidebar {
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(11, 239, 223);
    margin: 1em 0 0 0;
    background-color: #121212;
    border-radius: 15px;
}

.logo {
    margin: 2em;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.5em;
    flex-direction: row;
    align-items: center;
    padding: 1.5em;
}

/* mobile nav */

.mobile-menu-icon {
    margin: 1em;
    position: fixed;
    right: 0;
    display: none;
    transition: top 0.3s ease; 
}

.menu-icon {
    width: 35px;
    filter: invert();
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    position: fixed;
    right: -100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 75vw;
    transition: right 0.3s ease;
    border: 2px solid rgb(11, 239, 223);
    border-radius: 15px;
    backdrop-filter: blur(30px);
}


.x-button {
    width: 35px;
    filter: invert();
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

/* hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    max-width: 1200px;
    margin: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hero-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid rgb(11, 239, 223);
    background-image: url(images/ai-picture.jpg);
    background-size: cover;
}

.hero-title {
    text-align: center;
}

.second-hero-title {
    text-align: center;
    margin-bottom: .9em;
    font-weight: 400;
}

/* container */

.container {
    margin: 7em auto;
    max-width: 62.5rem;
    padding: 0 1.5rem;
}

.first-container {
    margin-top: auto;
}

/* button */

.btn {
    display: block;
    flex: 1 1 auto;
    margin: auto;
    padding: 1.2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgb(11, 239, 223) 0%, rgb(80, 176, 197) 100%);
    width: 150px;
    font-weight: 600;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
   }

.btn:hover {
    background-position: right center;
}

.form-button {
    margin-top: 10px;
}

/* portfolio cards */

.portfolio {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    gap: 1.25em;
}

.card {
    padding: 1em;
}

.container-card {
    border-radius: 20px;
    padding: 20px;
    max-width: 420px;
    border: 1px solid rgb(11, 239, 223);;
}

.card-img {
    width: 350px;
    border-radius: 7px;
    margin: auto;
}

.card-text {
    margin: 1.5em 0;
    text-align: center;
}

/* form */

input, textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 0px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
}

.lang, .lang-tr{
    width: 50px;
    height: 50px;
    background-size: contain;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/* youtube video */

.utube-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10em;
}

.utube-title {
    margin: auto 0;
}

.utube {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* footer */

footer {
    text-align: center;
    margin-bottom: 1em;
}

/* language changer */

.lang {
    background-image: url(images/tr-bayrak.png);
}

.lang-tr {
    background-image: url(images/uk-bayrak.png);
}

/* mobile media queries */

@media screen and (max-width: 600px) {
    .nav-list {
        display: none;
    }    
}

@media screen and (max-width: 1200px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .container-card {
        margin: 2em auto;
    }

    .hero-img {
        margin-top: 2em;
    }

    .utube-wrapper {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .sidebar-wrapper {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
}